/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/

/*
nav {
    text-align: left;
    border: 2px;
    float: right;
}*/
body {
    background-image: url(Pictures/collage1.jpg);
    background-color: rgb(255,255,255) ;
    background-position: center ;
}

.welcome-window{
    padding-top: 0% ;
}
.thumbnail{
    background-color: #87CEEB ;
}
.jumbotron{
    padding-top: 2% ;
}
/*
#registration-form{
     background-color: #cccccc ;
}
#profile-form{
     background-color: #cccccc ;
}*/